.dark-mode {
  --tw-bg-opacity: 1;
  background-color: rgb(31 41 55 / var(--tw-bg-opacity)) !important;
  color: white;
}

.light-mode {
  color: black;
  background-color: rgb(255, 255, 255);
}

.marked {
  font-weight: bold;
  color: #22d3ee;
}

html {
  scroll-behavior: smooth;
}